.leftpic {

    -fx-background-color: #FFFFFF;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    
}

.logo-vertical {

    -fx-background-image: url('images/LogoUltra2.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
}

.button {
 
    -fx-background-color: #484848;
    -fx-background-radius: 0px;
    -fx-text-fill: white;
    
}

.button > .text {
 
    -fx-font-family: "Segoe UI";
    -fx-font-size: 15px;
    
}

